node_modules/*
public/*
docker-nginx/*

dist/*
build/*
src/assets/js/iconfont.js

/package-lock.json
.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*