* {
  outline: none;
}

html {
  line-height: 1.5715;
  font-family: Helvetica, Tahoma, Arial,"PingFang SC", "Hiragino Sans GB", "Heiti SC",STXihei, "Microsoft YaHei", STXihei,"WenQuanYi Micro Hei",sans-serif;
}
html, body, #app {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.readonly {
  pointer-events: none;
}

.input {
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.input:-ms-input-placeholder {
  color: #b4bccc;
}
.input::-moz-placeholder {
  color: #b4bccc;
}
.input::-webkit-input-placeholder {
  color: #b4bccc;
}
.input::placeholder {
  color: #b4bccc;
}
.box-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 10px;
}
.page-wrapper {
  position: relative;
  padding: 0px 24px 20px;
  z-index: 1002;
  background: url(~@/assets/imgs/main_img_grid.png) repeat;
}
.page-container {
  position: relative;
  min-height: calc(100vh + 152px);
  width: 100%;
  box-sizing: border-box;
  padding: 0px 16px 16px;
  background: rgba(4,27,128,.92) url(~@/assets/imgs/list_img_bg_point.png) repeat;
  border-left: 2px solid #0090ff;
  border-right: 2px solid #0090ff;
  &-top_bg {
    width: 100%;
    height: 27px;
    position: absolute;
    top: -26px;
    left: 4px;
    background: url(~@/assets/imgs/list_img_line_top.png) center no-repeat;
    background-size: 100% 100%;
  }
  &-bottom_bg {
    width: 100%;
    height: 27px;
    position: absolute;
    bottom: -26px;
    left: -11px;
    background: url(~@/assets/imgs/list_img_line_foot.png) center no-repeat;
    background-size: 100%;
  }
  &-left_bg {
    width: 18px;
    height: 236px;
    position: absolute;
    bottom: 10px;
    left: -12px;
    background: url(~@/assets/imgs/list_img_line_hulu.png) center no-repeat;
    background-size: 100%;
  }
}
.page-container .page-table-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  height: 72px;
  margin-bottom: 27px;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(0, 120, 255, 0.3)) 2 2;
}

.page-table-header::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 90px;
  height: 43px;
  background: url(~@/assets/imgs/list_img_point_left.png) center no-repeat;
  background-size: 100%;
}

.page-table-header::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 90px;
  height: 43px;
  background: url(~@/assets/imgs/list_img_point_right.png) center no-repeat;
  background-size: 100%;
}

.page-container .page-pagt-wrap {
  padding-top: 20px;
  border-top: 2px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(0, 120, 255, 0.3)) 2 2;
}

.page-container_top_bottom {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(~@/assets/imgs/main_img_top_left.png) center no-repeat;
  background-size: 100%;
  &.page-container_top_left {
    top: -1px;
    left: -1px;
  }
  &.page-container_top_right {
    top: -1px;
    right: -2px;
    transform: rotate(90deg)
  }
  &.page-container_bottom_left {
    bottom: -1px;
    left: -1px;
    transform: rotate(-90deg)
  }
  &.page-container_bottom_right {
    bottom: -1px;
    right: -2px;
    transform: rotate(180deg)
  }
}

.page-container .page-table-header-left {
  font-size: 24px;
  font-family: OPPOSans;
  font-weight: bold;
  color: #80B5FC;
  line-height: 60px;
  z-index: 1000;
  span {
    display: inline-block;
    cursor: pointer;
    height: 72px;
    line-height: 72px;
    opacity: 0.4;
  }
  span + span {
    margin-left: 32px;
  }
  span.normal {
    opacity: 1;
  }
  span.active {
    opacity: 1;
    border-bottom: 4px solid;
    border-color: #80B5FC;
  }
}
.page-container .page-table-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #80B5FC;
  cursor: pointer;
  z-index: 1000;
  &-icon {
    width: 22px;
    height: 22px;
    margin-right: 13px;
    background: url(~@/assets/imgs/nv_ico_add.png) center no-repeat;
    background-size: 100%;
  }
  &-export-icon {
    width: 22px;
    height: 22px;
    margin-right: 13px;
    background: url(~@/assets/imgs/nv_ico_export.png) center no-repeat;
    background-size: 100%;
  }
}

.form-eye-icon {
  display: block;
  width: 23px;
  height: 22px;
  background: url(~@/assets/imgs/user_ico_eyes_open.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.form-eye-icon.close {
  width: 23px;
  height: 22px;
  background: url(~@/assets/imgs/user_ico_eyes_close.png) center no-repeat;
  background-size: 100%;
}

.user-form {
  .form-eye-icon {
    height: 38px;
    cursor: pointer;
  }
  .form-eye-icon.close {
    height: 39px;
  }
}