* {
  outline: none;
  /* firefox支持 */
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 transparent;
}

::selection {
  background: #fc5757;
  color: #fff;
}

::-moz-selection {
  background: #fc5757;
  color: #fff;
}

html {
  line-height: 1.5715;
  font-family: Helvetica, Tahoma, Arial,"PingFang SC", "Hiragino Sans GB", "Heiti SC",STXihei, "Microsoft YaHei", STXihei,"WenQuanYi Micro Hei",sans-serif;
}
html, body, #app {
  min-height: 100%;
}

body {
  overflow: hidden;
}

#app .right {
  padding: 16px 0 0 16px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
}

.hidden {
  display: none;
}

.readonly {
  pointer-events: none;
}

.input {
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.input:-ms-input-placeholder {
  color: #b4bccc;
}
.input::-moz-placeholder {
  color: #b4bccc;
}
.input::-webkit-input-placeholder {
  color: #b4bccc;
}
.input::placeholder {
  color: #b4bccc;
}

.input-small {
  height: 32px;
  line-height: 32px;
}

.divider-hor {
  display: block;
  height: 1px;
  margin: 24px 0;
  background-color: #DCDFE6;
}
.divider-ver {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 1em;
  margin: 0 8px;
  background-color: #DCDFE6;
}

.field-label {
  /* line-height: 40px; */
  padding: 0 12px 0 0;
  font-size: 14px;
  color: #606266;
  box-sizing: border-box;
}

.field-label-required::before {
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}

/* 列表操作栏 button */
[class*=button-ctrl] {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  cursor: pointer;
  word-break: keep-all;
}

.button-ctrl {
  color: #409EFF;
}
.button-ctrl-success {
  color: #67C23A;
}

.button-ctrl-warn {
  color: #E6A23C;
}

.button-ctrl-danger {
  color: #F56C6C;
}

.button-ctrl-info {
  color: #909399;
}

.button-ctrl-disabled {
  color: #999999;
  cursor: not-allowed;
}

.page {
  padding: 24px;
  background-color: #fff;
  min-height: calc(100vh - 66px);
  box-sizing: border-box;
}

.ellp {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.ellp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.router-link{
  color: #fc5757;
  text-decoration:none
}
.router-link:hover{
  color: #fd7979;
  font-weight: 700;
}
