.el-dialog__body {
  padding: 10px 20px;
}
.el-card__header {
  padding: 10px 20px;
}
.el-form-item:last-child {
  margin-bottom: 0;
}
.el-drawer__header {
  margin-bottom: 20px;
  justify-content: space-between;
}
.el-image {
  vertical-align: top;
}
.el-checkbox, .el-checkbox__input {
  vertical-align: middle;
}

.el-table {
  font-size: 16px;
  background-color: #041b80;
}
.el-table tr {
  background-color: #041b80;
}
.el-table .cell {
  color: #80B5FC;
}
.el-table thead th, .el-table thead tr {
  background-color: #1214C2;
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background-color: #1214C2;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #1214C2;
}

.el-table--enable-row-hover .el-table__body tr:hover>td,
.el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    background: #2E4CFF;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background: #153251;
}

.el-table td, .el-table th.is-leaf,
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border: 0;
}
.el-table--border .el-table__cell {
  border: 0;
}

.el-form-item__label {
  font-size: 18px;
  color: #fff;
}

.el-button {
  min-width: 128px;
  font-size: 17px;
  background: rgba(0, 78, 255, 0.16);
  border: 2px solid #0078FF;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.el-button--primary {
  background: #004EFF;
  border: 1px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(0, 120, 255, 0.3)) 1 1;
  border-radius: 4px;
}

.el-button--text {
  min-width: auto;
  border: 0;
  background: 0;
  color: #80B5FC;
}

.el-select {
  width: 184px;
}

.dialog-form .el-select {
  width: 406px;
}

.el-input__inner {
  width: 184px;
  font-size: 16px;
  color: #fff;
  background: #1214C2;
  border: 1px solid rgba(0, 120, 255, 0.8);
  border-radius: 4px;
}

.el-select-dropdown {
  font-size: 16px;
  color: #fff;
  background: #1214C2;
  border: 1px solid rgba(0, 120, 255, 0.8);
  box-shadow: 0 2px 12px 0 rgba(39, 48, 59, 0.8);
}

.el-select-dropdown__item {
  color: #fff;
}

.el-popper[x-placement^=top] .popper__arrow {
  border-bottom-color: #1214C2;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #1214C2;
}

.el-popper[x-placement^=top] .popper__arrow:after {
  border-bottom-color: #0078FF;
}

.el-popper[x-placement^=bottom] .popper__arrow:after {
  border-bottom-color: #0078FF;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #0078FF;
}

.el-dialog {
  width: 723px;
  background: #050769;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(0, 120, 255, 0.3)) 2 2;
}

.el-dialog{
  display: flex;
  display: -ms-flex; /* 兼容IE */
  flex-direction: column;
  -ms-flex-direction: column; /* 兼容IE */
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog .el-dialog__body{
  max-height: 100%;
  flex: 1;
  -ms-flex: 1 1 auto; /* 兼容IE */
  overflow-y: auto;
  overflow-x: hidden;
}

.el-dialog__wrapper {
  /*隐藏ie和edge中遮罩的滚动条*/
  overflow: hidden;
}

.el-dialog__header {
  font-size: 30px;
  font-family: "OPPOSans";
  padding: 0px;
  margin: 0px 23px;
  height: 89px;
  line-height: 89px;
  text-align: left;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(0, 120, 255, 0.3)) 2 2;
}

.el-dialog__title {
  font-size: 30px;
  font-weight: bold;
  color: #80B5FC;
}

.el-dialog__headerbtn {
  top: 33px;
  font-size: 22px;
}

.el-checkbox, .el-checkbox__label {
  font-size: 16px;
  color: #fff;
}

.el-checkbox__inner {
  width: 16px;
  height: 16px;
}

.el-checkbox__inner:after {
  left: 6px;
  top: 2px;
}

.el-date-editor .el-input__inner {
  width: 220px;
}

.el-picker-panel {
  background: #1214C2;
  color: #fff;
  border: 1px solid #0B315F;
  .el-input__inner {
    width: 146px !important;
  }
}

.el-date-table th {
  color: #fff;
}

.el-picker-panel__icon-btn {
  color: #fff;
}

.el-date-picker__header-label {
  color: #fff;
}

.el-picker-panel__footer {
  background: #1214C2;
  color: #fff;
  border-top: 1px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(0, 120, 255, 0.3)) 2 2;
  .el-button {
    min-width: auto !important;
  }
}

.el-message-box {
  background-color: #1214C2;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(0, 120, 255, 0.3)) 2 2;
  .el-message-box__title {
    color: #fff;
  }
  .el-message-box__message {
    color: #fff;
  }
}

.el-form--inline .el-form-item {
  margin-right: 20px;
}

.el-loading-mask {
  background-color: rgba(226, 227, 235, 0.5);
}

.page-delete-dialog.el-dialog {
  width: 430px;
  .el-dialog__header {
    height: 60px;
    border: 0px;
  }
  .page-delete-title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .el-dialog__body {
    padding: 25px 25px 56px;
  }
}

.page-table-dialog .el-form {
  width: 560px;
  margin: 0 auto;
}

.page-table-dialog .el-input {
  width: 406px;
  background: #1214C2;
}

.page-table-dialog .el-input__inner {
  width: 406px;
  background: #1214C2;
  border: 1px solid;
  border-image: linear-gradient(90deg, rgba(0, 120, 255, 0.3), rgba(0, 120, 255, 0.3)) 1 1;
  border-radius: 4px;
}

.el-loading-spinner .el-loading-text {
  color: #fff;
}